apiVersion: apps/v1
kind: Deployment
metadata:
  name: engine
  namespace: kube-demo
  labels:
    app: engine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: engine
  template:
    metadata:
      labels:
        app: engine
    spec:
      containers:
      - name: engine
        image: engine:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: PORT
          value: "8080"
        - name: HOST
          value: "0.0.0.0"
        resources:
          requests:
            memory: "100Mi"
            cpu: "100m"
          limits:
            memory: "112Mi"
            cpu: "500m"

